<a href="https://colab.research.google.com/github/AarabhiParameswran/PYTHON/blob/main/TASK_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and display,
  - where values of the column A is greater than 0.
  - where values of the columns A is greater than 0 and B greater than -1.
  - where values of the columns A  is greater than 0 or B greater than -1.

In [ ]:
#please type your code below this line.
import pandas as pd
 
import numpy as np
 
dates=pd.date_range('2020101 0', periods=6)
 
df=pd.DataFrame(np.random.rand n(6,4), index=dates, columns=list('ABCD'))
 
print(df)
 
a=df [ A>0]
 
print(a)
 
print(df [( A>0)8(df.B>-1)])
 
print(df[(df.A>0)| (df.B>-1)])

2. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and check if ,
  - the values of the table are greater the zero or not.
  - the value at the postion (0,0) is equal to NaN or not.

In [ ]:
#please type your code below this line.
import pandas as pd
 
import numpy as np
 
dates=pd.date_range('20201010', periods=6)
df=pd.DataFrame (np.random.rand n(6,4),
index=dates,
columns=list('ABCD'))
print (df)
 
print (df > 0)
 
df11 = df [dates [0], 'A'] print (pd. isna (df1))

3. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and,
  - reindex the index with even dates.
  - create a column with values NaN.
  - make the values of the first two index of the newly created column as 1

In [ ]:
#please type your answer below this line.
Import pandas as pd

import numpy as np

dates=pd.date_range('20201010, periods=6)

df=pd.DataFrame (np.random.randn(6,4), index-dates, columns=list('ABCD'))

print (df)

df1-df.reindex(index=dates [::2],columns-list(df.columns))

print (df1)

print(dfi.assign(E-np.nan))

df1.loc[dates [0]:dates [2], 'E']-1

print(df1)