<a href="https://colab.research.google.com/github/AarabhiParameswran/PYTHON/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 11000 and 2000 (both included).

In [ ]:
#please enter your answer below this line
for i in range(1000,2000):
 if(i%7==0) and (i%11==0):
  print (i)

2. Write a program to print this pattern

           #
          ## 
         ###

In [ ]:
#please enter your answer below this line
n=int(input("Enter a number"))
k=n-1
for i in range(0,n):
 for j in range(0,k):
  print(end=" ")
 k=k-1
 for j in range(0, i+1):
  print("# ", end="")
 print("\r")

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [ ]:
#please enter your answer below this line
list=["apple"," orange", "apple", "banana"]
print(list[:])
for i in range (0,4):
 if(list[i]=="apple"):
  list [i]="grape"
print(list[:])